<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ComponentRules="OneToOne"?>
  <!-- SourceDir instructs IsWiX the location of the directory that contains files for this merge module -->
  <?define SourceDir="..\Installer\Deploy"?>
  <Module Id="ArrowPointCANBusInstallerMM" Language="1033" Version="1.6.0.0">
    <Package Id="9d0f8934-f5fb-463c-93d8-0dcd4258b86d" Manufacturer="Prohelion" InstallerVersion="400" Platform="x86" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" />
      <Directory Id="MergeRedirectFolder">
        <Component Id="owc8F3CC02C0E30B69254A10710B1C4890F" Guid="3f9fbbbb-8768-37c0-b3fc-9fa8f069fed9">
          <File Id="owf8F3CC02C0E30B69254A10710B1C4890F" Source="$(var.SourceDir)\net46\ArrowPointCANBusTool.exe" KeyPath="yes">
            <Shortcut Id="scD8756EED1DB91F31831CDF4390B59ED9" Name="ArrowPoint CANBus Tools" Directory="DesktopFolder" />
            <Shortcut Id="sc25C2FD34E6FE2AA415205F6BA9B3482E" Name="ArrowPoint CANBus Tools" Directory="ProgramMenuFolder" />
          </File>
        </Component>
        <Component Id="owc8ECFD31F3DCC6C811A1C29BFB88DD264" Guid="ba6f1796-8646-546b-8ac1-319aabec7a7f">
          <File Id="owf8ECFD31F3DCC6C811A1C29BFB88DD264" Source="$(var.SourceDir)\net46\log4net.dll" KeyPath="yes" />
        </Component>
        <Component Id="owc3FC8434C1A84605AEEBC6A100CA2F3E1" Guid="47d7e276-db6d-424e-d797-1a69e1e24b3b">
          <File Id="owf3FC8434C1A84605AEEBC6A100CA2F3E1" Source="$(var.SourceDir)\net46\Newtonsoft.Json.dll" KeyPath="yes" />
        </Component>
        <Component Id="owc8BD50D34BBBE93D0581996C9FDD3216F" Guid="3feaef24-3930-732f-f3d3-3c24d6288ce5">
          <File Id="owf8BD50D34BBBE93D0581996C9FDD3216F" Source="$(var.SourceDir)\net46\Renci.SshNet.dll" KeyPath="yes" />
        </Component>
      </Directory>
      <Directory Id="ProgramMenuFolder" />
    </Directory>
    <ComponentGroupRef Id="Custom" />
  </Module>
</Wix>